@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px 50px 10px 50px;
  border: 1px solid black;
}
header {
  
}
main {
  padding-top: 40px;
}
main .choise-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.choises {
  margin: 15px 0px;
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-between;
}
.btn-choise {
  width: 150px;
  padding: 3px 10px;
}
.next-question{
  width: fit-content;
  min-width: 20px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
.btn-next{
  margin-top: 10px;
  padding: 5px 10px;
}
.scores-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.txt-scores-wrapper {
  display: flex;
  justify-content: space-between;
}
.question-progress {
  width: 100%;
  position: absolute;
  height: 20px;
  top: 0px;
  left: 0px;
  
}
.qtn-pg-bar {
  background-color: gray;
  height: 100%;
  transition: width 1s;
}
.scores-bar {
  position: relative;
  margin: 5px 0px 10px 0px;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.lowest-possible-score {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: black;
  z-index: 3;
  transition: width 1s;
}
.actual-score {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: gray;
  z-index: 2;
  transition: width 1s;
}
.highest-possible-score {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: rgb(207, 202, 202);
  z-index: 1;
  transition: width 1s;
}



.center_all{
  display: grid;
  place-items: center;
}
.center_all h2{
  margin-top: 20px;
}